.index{
    background-color: #1b1b1b;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}


.textoDescriptivo {
    color: #e0e0e0;
    line-height: 1.6;
}


.nombreEscapeRoom {
    color: #ff4c4c;
    font-weight: bold;
}


.fecha{
    color: #ffa500;
}


.logo{
    width: 70px;
    height: 70px;
}


 


/*CSS DE SALAS                                                                                               */
.card-naturaleza {
  font-family: 'Arial Black', serif;
  background-color: #2b2b2b;
  border: 2px solid #ff4c4c;
  font-size: 0.5em solid;
  color: #f0f0f0;
  transition: transform 0.3s, box-shadow 0.3s;
}


.card-naturaleza:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #ff4c4c;
}

.card-title {
    font-family: 'Arial Black', sans-serif;
    color: #ffcc00;
    font-weight: bold;
    font-size: 1.2em;
}


.card-naturaleza .card-body p {
    color: #e0e0e0;
}


.card-fumar .card-text1 {
  font-family: 'Times New Roman', serif;
  background-color: #f0f9f4;
  color: #f8aa00;
  border: 1px solid #96682d;
}


.card-title1{
  color: darkorange;
}


.card-delfin .card-text2{
  font-family: 'Comic Sans', serif;
  background-color: #f0f9f4;
  color: #0011f8;
  border: 1px solid #11d1a7;
}


.card-title2{
  color: rgb(134, 6, 207);
}

#img_sala {
    height: 400px;
    width: 412px;
}




 
.container{
  display:flex;
 


}




.row {
  justify-content: center;
}




.salas{
  background-color: #1b1b1b;
}

.reserva{
  background-color: #1b1b1b;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.nav-link{
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}