.index{
    background-color: rgb(50, 50, 51);
}


.textoDescriptivo{
    color: aliceblue;
}


.nombreEscapeRoom{
    color: aliceblue;
}


.fecha{
    color: aliceblue;
}


.logo{
    width: 70px;
    height: 70px;
}
