/* Tema de  */
.card-naturaleza {
    font-family: 'Georgia', serif;
    background-color: #f0f9f4;
    border: 1px solid #C68642;
}

.card-naturaleza .card-title {
    font-family: 'Arial', sans-serif;
    color: #2b8b22;
    /* Verde bosque */
    font-weight: bold;
}

.card-naturaleza .card-text {
    color: #3b3b3b;
}

/* Tema de la apicultura */
.card-apicultura {
    font-family: 'Georgia', serif;
    background-color: #FDB813;
    border: 1px solid #000000;
}

.card-apicultura .card-title {
    font-family: 'Arial', sans-serif;
    color: #2b8b22;
    font-weight: bold;
}

.card-apicultura .card-text {
    color: #F3E5AB;
}

/* Tema de  */